# Skip building canvas
canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/
canvas_supports_automatically_finding_build_requirements=false
npm_config_canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/
npm_config_build_from_source=false
